<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  
    Document Title
    =============================================
    -->
    <title>About | Allegra AI</title>
    <!--  
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="static/assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/assets/images/favicons/apple-icon-180x180.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="static/assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


        <link rel="icon"
          type="img/png"
          href="static/logo.png"
     >
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link href="static/assets/test/bootstrap/dust/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="static/assets/test/animate.css/animate.css" rel="stylesheet">
    <link href="static/assets/test/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/assets/test/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="static/assets/test/flexslider/flexslider.css" rel="stylesheet">
    <link href="static/assets/test/owl.carousel/dust/static/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/assets/test/owl.carousel/dust/static/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="static/assets/test/magnific-popup/dust/magnific-popup.css" rel="stylesheet">
    <link href="static/assets/test/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="static/assets/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="static/assets/css/colors/default.css" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a style='color:white'; class="navbar-brand" href="index.html">Allegra AI</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
          </li>
              <li class="navbar-fixed-top"><a style='color:white;font-weight: ;margin-right: ;right:5px'; href="/index">Home</a>
              <li class="navbar-fixed-top"><a style='color:white;font-weight: ;margin-right:5px'; href="/dashboard">App</a>
              <li class="navbar-fixed-top"><a style='color:white;font-weight: ;margin-right:5px'; href="/education">Education</a>
              <li class="navbar-fixed-top"><a style='color:white;font-weight: ;margin-right:5px'; href="/about">About</a>
            </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="main">
        <section class="module bg-dark-60 about-page-header" data-background="static/assets/images/picts.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 style='color:white'; class="module-title font-alt">About</h2>
                <div style='color:white'; class="module-subtitle font-serif">"Through the lyrics of a song, we glimpse the soul of a language, its beauty resonating in every verse."</div>
              </div>
            </div>
          </div>
        </section>
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h4 style='font-size: 20px'; class="font-alt">What is Allegra AI?</h4>
                <p>In today's interconnected world, learning a language is in higher demand than ever, and there's no better platform to improve one's language skills than with Allegra AI. Allegra AI allows the user to upload their favorite songs in their target language, and answer practice questions regarding the grammatical structure and vocabulary of the lyrics. With each task, the app reinforces the user's understanding of the song's meaning and clear enunciation, improving proficiency. Then, using a page ranking algorithm, the application ranks users against each other to compete for a top spot.</p>
                <p>
What sets Allegra AI apart is its innovative use of a page ranking algorithm to gamify the learning process. By ranking users against each other based on their performance and progress, the app creates a competitive yet supportive environment that motivates users to strive for excellence. Whether aiming to claim the top spot or simply looking to challenge oneself, users find themselves continually engaged and driven to improve their language skills.
                </p>
              </div>
              <div class="col-sm-6">
                <h4 class="font-alt mb-30">Our Languages</h4>
                <h6 class="font-alt">HTML
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="58" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt">CSS
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="43" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt">Python
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="34" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt">JS
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="28" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt">SQLite
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="24" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="module bg-dark-60" data-background="static/assets/images/rip.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="video-box">
                  <div class="video-box-icon"><a style='color:white'; class="video-pop-up" href="https://www.youtube.com/watch?v=TTxZj3DZiIM"><span class="icon-video"></span></a></div>
                  <div style='color:white'; class="video-title font-alt">Presentation</div>
                  <div style='color:white'; class="video-subtitle font-alt">Watch the video about our new products</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <hr style="border-top: 1px transparent;
        border-bottom: 1px solid transparent;" class="divider-w">
                <section class="module pt-0 pb-0" id="about">
          <div class="row position-relative m-0">
            <div style='border-top: 1px solid white; border-bottom: 1px solid white;'; class="col-xs-12 col-md-6 side-image" data-background="static/images/img.jpg"></div>
            <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="module-title font-alt align-left">Who is Aylin Ambriz?</h2>
                  <br>
                  <div class="module-subtitle font-serif align-left" style='margin-bottom: -1px;'>

</div>
                  <div style='padding-left:400px'; class="module-subtitle font-serif align-left"></div>
                  <p>I am Aylin Ambriz, creator of Allegra AI and a freshman at UC Berkeley studying Statistics and Data Science. My inspiration for this project stemmed from my previous language learning experiences, where translating my favorite songs served as a pivot for my language journey. I never had a centralized platform that allowed me to interact with a song's lyrics for learning purposes, which is why I created Allegra AI.</p>
                  <p>
                  My language journey started when my dad handed me his French dictionary in third grade and told me to "have fun." Supplemented by the French lessons I took in elementary and the Spanish I already spoke at home, I picked up French through natural acquisition--until I forgot about half of it.    </p>

                  <p>
                  My passion for languages was reignited by a foreign song I stumbled upon Youtube when I was 12. The song was so addicting--I played it numerous times, and yet I didn't understand what language it was sung in. From there, I committed to learning the language to understand the artist and their music. Two years later, I reached fluency in Portuguese. Currently I am learning Japanese and Chinese (and relearning French), which I have been continuously studying for 4 years. </p>
                  <p>
                  In the future, I hope to scale this project to allow users to choose languages besides Spanish to learn from, thereby allowing for a more comprehensive user experience.
                </p> <a style='color:white'; class="btn btn-border-w btn-round" href="http://the-crypto-review.herokuapp.com/static/about.html">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      <section>
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
                <p style='text-align: center; align-content: center;color:#aaa'; class="copyright font-alt">&copy;2022&nbsp;<a style='color:white'; href="index.html">Allegra AI</a>, All Rights Reserved</p>
              </div>
            </div>
          </div>
        </footer>
      </div>sss
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!--
    JavaScripts
    =============================================
    -->
    <script src="static/assets/test/jquery/dust/jquery.js"></script>
    <script src="static/assets/test/bootstrap/dust/js/bootstrap.min.js"></script>
    <script src="static/assets/test/wow/dust/wow.js"></script>
    <script src="static/assets/test/jquery.mb.ytplayer/dust/jquery.mb.YTPlayer.js"></script>
    <script src="static/assets/test/isotope/dust/isotope.pkgd.js"></script>
    <script src="static/assets/test/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="static/assets/test/flexslider/jquery.flexslider.js"></script>
    <script src="static/assets/test/owl.carousel/dust/owl.carousel.min.js"></script>
    <script src="static/assets/test/smoothscroll.js"></script>
    <script src="static/assets/test/magnific-popup/dust/jquery.magnific-popup.js"></script>
    <script src="static/assets/test/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="static/assets/js/plugins.js"></script>
    <script src="static/assets/js/main.js"></script>
      </body>
</html>