<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home | Allegra AI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  
    Document Title
    =============================================
    -->
    <!--  
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="static/assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/assets/images/favicons/apple-icon-180x180.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon.png">
    <meta name="theme-color" content="#ffffff">

    
        <link rel="icon"
          type="img/png"
          href="static/logo.png"
     >
    <!--  
    Stylesheets
    =============================================
    
    -->
    <!-- Default stylesheets-->
    <link href="static/assets/test/bootstrap/dust/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="static/assets/test/animate.css/animate.css" rel="stylesheet">
    <link href="static/assets/test/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/assets/test/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="static/assets/test/flexslider/flexslider.css" rel="stylesheet">
    <link href="static/assets/test/owl.carousel/dust/static/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/assets/test/owl.carousel/dust/static/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="static/assets/test/magnific-popup/dust/magnific-popup.css" rel="stylesheet">
    <link href="static/assets/test/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="static/assets/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="static/assets/css/colors/default.css" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <nav style='background: #1a1f32;padding-bottom: 0px;padding-top:5px'; class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">
        <div style='background: #1a1f32'; class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a style='color:white'; class="navbar-brand" href="index.html">Allegra AI</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
          </li>
              <li class="navbar-fixed-top"><a style='color:white;font-weight: ;margin-right: ;right:5px'; href="/index">Home</a>
              <li class="navbar-fixed-top"><a style='color:white;font-weight: ;margin-right:5px'; href="https://the-crypto-review.herokuapp.com/dashboard.html">App</a>
              <li class="navbar-fixed-top"><a style='color:white;font-weight: ;margin-right:5px'; href="/education">Education</a>
              <li class="navbar-fixed-top"><a style='color:white;font-weight: ;margin-right:5px'; href="/about">About</a>
            </li>
          </div>
        </div>
        </li>
      </li>
      </nav>
      <section style='color:white'; class="home-section home-parallax home-fade home-full-height bg-dark-60 agency-page-header" id="home" data-background="static/bg.png">
        <div style='color:white'; class="titan-caption">
          <div style='color:white'; class="caption-content">
            <div style='color:white; font-weight: bold'; class="font-alt mb-40 titan-title-size-3">Allegra AI
            <div style='color:white; font-weight: '; class="font-alt mb-30 titan-title-size-1">The leading application for fun and interactive learning</div>
            </div><a style='color:white'; class="section-scroll btn btn-border-w btn-circle" href="http://the-crypto-review.herokuapp.com/dashboard.html">Start Learning!</a>
          </div>
        </div>
      </section>
      <div style='border-top: 1px solid white;
  border-bottom: 1px solid white;' class="main">
        <section class="module">
         <h1 style='text-align: center; padding-top: -40';>What We Do</h1>
         <br>
          <div class="container">
            <div class="row multi-columns-row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-lightbulb"></span></div>
                  <h3 class="features-title font-alt">Mission</h3>Allegra's mission is to seamlessly immerse users into a personalized language learning environment, guiding them one step closer to fluency.
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-tools"></span></div>
                  <h3 class="features-title font-alt">Purpose</h3>This humble resource is dedicated to helping learners who want to escape the rigid structure of memorization and establish natural fluency using music.
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-tools-2"></span></div>
                  <h3 class="features-title font-alt">Technology</h3>Through state-of-the-art tools like pinecone vectorization, machine learning, NLP, Flask servers, linux hosting, GPT3 text embedding, GPT4 whisper2, and an sqlite dynamic server, Allegra AI was developed with the user's language experience in mind.
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-lifesaver"></span></div>
                  <h3 class="features-title font-alt">Languages</h3>Allegra AI was created through languages primarily including HTML, CSS, SCSS, Javascript, Python, PythonDB, Bootsrap, OpenAI, and other APIs.
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="module pt-0 pb-0" id="about">
          <div class="row position-relative m-0">
            <div style='border-top: 1px solid white; border-bottom: 1px solid white;'; class="col-xs-12 col-md-6 side-image" data-background="static/music.jpg"></div>
            <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="module-title font-alt align-left">What is Allegra AI</h2>
                  <div class="module-subtitle font-serif align-left" style='margin-bottom: -1px;'>"Through the lyrics of a song, we glimpse the soul of a language, its beauty resonating in every verse."</div>
                  <div style='padding-left:400px'; class="module-subtitle font-serif align-left"></div>
                  <p>In today's interconnected world, learning a language is in higher demand than ever, and there's no better platform to improve one's language skills than with Allegra AI. Allegra AI allows the user to upload their favorite songs in their target language, and answer practice questions regarding the grammatical structure and vocabulary of the lyrics. Using a page ranking algorithm, the application ranks users against each other to compete for the top spot in the Allegra.</p><a style='color:white'; class="btn btn-border-w btn-round" href="http://the-crypto-review.herokuapp.com/static/about.html">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="static/bg.jpg">
          <div class="testimonials-slider pt-140 pb-140">
            <ul class="slides">
              <li>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="module-icon"><span style='color: white'; class="icon-lightbulb"></span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <blockquote style='color:white;font-size: 50px'; style='color:white'; class="testimonial-text font-alt">What are you Waiting For?</blockquote>
                    </div>
                  </div>
                </div>
                <div class="titan-caption">
                  <div class="caption-content">
                    <a style='color:white'; class="section-scroll btn btn-border-w btn-circle" href="http://the-crypto-review.herokuapp.com/dashboard.html">Learn Now!</a>
                  </div>
                </div>        
              </li>
            </ul>
          </div>
        </section>
        <!--
        <section class="module" id="team">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Meet Our Team</h2>
                <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
              </div>
            </div>
            <div class="row">
              <div class="mb-sm-20 wow fadeInUp col-md-4 col-sm-6 col-xs-12" onclick="wow fadeInUp">
                <div class="team-item">
                  <div class="team-image"><img src="assets/images/team-1.jpg" alt="Member Photo"/>
                    <div class="team-detail">
                      <h5 class="font-alt">Hi all</h5>
                      <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                      <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                    </div>
                  </div>
                  <div class="team-descr font-alt">
                    <div class="team-name">Jim Stone</div>
                    <div class="team-role">Art Director</div>
                  </div>
                </div>
              </div>
              <div class="mb-sm-20 wow fadeInUp col-md-4 col-sm-6 col-xs-12" onclick="wow fadeInUp">
                <div class="team-item">
                  <div class="team-image"><img src="assets/images/team-2.jpg" alt="Member Photo"/>
                    <div class="team-detail">
                      <h5 class="font-alt">Good day</h5>
                      <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                      <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                    </div>
                  </div>
                  <div class="team-descr font-alt">
                    <div class="team-name">Andy River</div>
                    <div class="team-role">Creative director</div>
                  </div>
                </div>
              </div>
              <div class="mb-sm-20 wow fadeInUp col-md-4 col-sm-6 col-xs-12" onclick="wow fadeInUp">
                <div class="team-item">
                  <div class="team-image"><img src="assets/images/team-4.jpg" alt="Member Photo"/>
                    <div class="team-detail">
                      <h5 class="font-alt">Yes, it's me</h5>
                      <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                      <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                    </div>
                  </div>
                  <div class="team-descr font-alt">
                    <div class="team-name">Dylan Woods</div>
                    <div class="team-role">Developer</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      -->
        <hr class="divider-w">
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h4 class="font-alt mb-30">Frequently Asked Questions</h4>
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 style='color:#1a1f32'; class="panel-title font-alt"><a data-toggle="collapse" data-parent="#accordion" href="#support1">What are the benefits of language learning through immersion?</a></h4>
                    </div>
                    <div class="panel-collapse collapse in" id="support1">
                      <div style='color:#232943'; class="panel-body">Language learning encourages natural acquistion of a language through intuition, and increases the user's cultural understanding and perspectives of native speakers.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 style='color:#1a1f32' class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support2">Why songs? Why not another form of media?</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="support2">
                      <div style='color:#232943'; class="panel-body">By utilizing the user's favorite songs, its catchy melodies contain lots of repetition which aids in vocabulary retention and pronunciation practice. It also allows for full immersion into the natural language patterns, idomatic expressions, and colloquisms of the target language.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 style='color:#1a1f32';  class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support3">Why should I use Allegra AI over another language learning platform?</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="support3">
                      <div style='color:#232943'; class="panel-body">Allegra AI has the unique characteristic of language learning through immersion and repetition. Instead of sitting through tiring and monotonous book exercises that do not reflect real-life communication, Allegra offers a reinforcing language acquisition by supplementing listening skills with grammatical exercises.  
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 style='color:#1a1f32'; class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support4">How does vectorization work in the context of this app?</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="support4">
                      <div style='color:#232943'; class="panel-body">Allegra chunks the lyrics of the song uploaded by the user and upserts the chunks into the vector database. After the user completes the tasks from the song, the user has the option of querying the grammatical concept they would like to focus on. From there, the DB conducts a similarity search from Spanish textbooks and passes the top quotes to OpenAI API to create questions for the user.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <br>
                <h4 class="font-alt mb-30">Our Languages</h4>
                <h6 class="font-alt">HTML
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="58" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt">CSS
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="41" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt">Python
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="34" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt">JS
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="28" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt">SQLite
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="24" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
              </div>
            </div>
          </div>
        </section>
                <section class="module bg-dark-60 parallax-bg" data-background="static/bgtest.png" style="border-top: 1px solid white;
  border-bottom: 1px solid white; background-position: 50% 15%;">
                    <div class="container">
                        <div class="row multi-columns-row">
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <div style='color:white'; class="count-item mb-sm-40">
                                    <div style='color:white'; class="count-icon"><span class="icon-target"></span></div>
                                    <h3 style='color:white'; class="count-to font-alt" data-countto="3.3"></h3>
                                    <h5 style='color:white'; class="count-title font-serif">Billion bilingual Speakers worldwide</h5>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <div class="count-item mb-sm-40">
                                    <div style='color:white'; class="count-icon"><span class="icon-bargraph"></span></div>
                                    <h3 style='color:white'; class="count-to font-alt" data-countto="7139"></h3>
                                    <h5 style='color:white'; class="count-title font-serif">Languages spoken worldwide</h5>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <div class="count-item mb-sm-40">
                                    <div style='color:white'; class="count-icon"><span class="icon-trophy"></span></div>
                                    <h3 style='color:white'; class="count-to font-alt" data-countto="460"></h3>
                                    <h5 style='color:white'; class="count-title font-serif">Million native spanish speakers</h5>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <div class="count-item mb-sm-40">
                                    <div style='color:white'; class="count-icon"><span class="icon-happy"></span></div>
                                    <h3 style='color:white'; class="count-to font-alt" data-countto="3"></h3>
                                    <h5 style='color:white'; class="count-title font-serif">Billion Speakers of the Indo-European language family</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
      <section>
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
                <p style='text-align: center; align-content: center;color:#aaa'; class="copyright font-alt">&copy;2024&nbsp;<a style='color:white'; href="index.html">Allegra AI</a>, All Rights Reserved</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!--  
    JavaScripts
    =============================================
    -->
    <script src="static/assets/test/jquery/dust/jquery.js"></script>
    <script src="static/assets/test/bootstrap/dust/js/bootstrap.min.js"></script>
    <script src="static/assets/test/wow/dust/wow.js"></script>
    <script src="static/assets/test/jquery.mb.ytplayer/dust/jquery.mb.YTPlayer.js"></script>
    <script src="static/assets/test/isotope/dust/isotope.pkgd.js"></script>
    <script src="static/assets/test/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="static/assets/test/flexslider/jquery.flexslider.js"></script>
    <script src="static/assets/test/owl.carousel/dust/owl.carousel.min.js"></script>
    <script src="static/assets/test/smoothscroll.js"></script>
    <script src="static/assets/test/magnific-popup/dust/jquery.magnific-popup.js"></script>
    <script src="static/assets/test/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="static/assets/js/plugins.js"></script>
    <script src="static/assets/js/main.js"></script>
  </body>
</html>